.swiper-container {
    width: 600px;
    height: 70px;
}


.swiper-content {
	width: 600px;
	height: 250px;
}

.menu-slide {
	background-repeat: no-repeat;
	background-position: center;
}

.swiper-active {
	/*background-color: #0f0;*/
}